@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>SimplBill</h1>
    <p class="lead">SimplBill is a free and easy to use web application, allowing users to calculate tips and split bills between your friends.</p>
    <p><a href="../Login/Index" class="btn btn-primary btn-lg">Log in / Sign up </a></p>
</div>

<div class="row">
    <div>
        <h2><u>Tip Calculator</u></h2>
        <p class="fl_l">
           Use SimplBill to make tipping simple! Enter your bill total and select a tip percentage.
           The SimplBill site will provide you with the tip amount and the new total including tip.
        </p>
        <p><a class="btn btn-default" href="../Home/TipCalculator">Try it now! &raquo;</a></p>
    </div>
    <div>
        <h2><u>Bill Splitter</u></h2>
        <p class="fl_r">Splitting a bill between your friends has never been easier! Enter the bill total and how many people are splitting the bill. SimplBill will tell you 
        exactly how much each person owes. With an account, you can keep track of previous bills for better finance tracking.</p>
        <p><a class="btn btn-default" href="../Login/Index">Split a bill &raquo;</a></p>
    </div>
</div>