@model SimplBill3.Models.TipCalculator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tip Calculator";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tip Calculator</title>
    <link rel="stylesheet" href="~/Content/tipCalculator.css">
    <script src="~/Scripts/tipValidation.js"></script>
</head>
<body>
    <h1>Tip Calculator</h1>
   
    <div id="tipContainer">
        <form action="CalculateTip">
            <label for"total"><b>Bill Total </b></label>
            <input id="total" type="number" step="0.01" min="0.01" placeholder="" name="total" required>
            <br>
            <label for"tip"><b>Tip Percentage: %</b><span id="value"></span></label>
            <input id="slider" type="range" min="1" max="50" value="15" oninput="this.nextElementSibling.value = this.value" name="tipPercentage" required>
        
            <output>15</output>
            <button id="btn" onclick="validateTotal(total.value)">Calculate Tip</button>
        </form>
    </div>
</body>
</html>
